* {
    font-family: system-ui, sans-serif;
    color: hsl(240, 100%, 98%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background-image: url(elementos/fondo.svg);
    background-size: cover;
    max-height: 100vh;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

.menu {
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  width: 100vw;
  display: flex;
}

.menu a {
    min-width: auto;
    padding: 3px 20px;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color:white;
    background-color:hsl(11, 50%, 42%);
    font-weight: lighter;
    font-size: 1.2rem;
}

.menu a[aria-current="page"] { /*indica el elemento actual, sirve para marcar la página actual en la que está del menú */
    background-color: #25130D;
    color: hsl(240, 100%, 98%);
}


/* index.html*/


#body-home {
    background: linear-gradient(
    to right,
        #543A28 0%,    
        #543A28 30%,
        #837C6B 30%,   
        #837C6B 70%,
        #543A28 70%,   
        #543A28 100%
    );
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedor-principal {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
    
.contenedor-fondos {
    position: relative;
    width: 100vw;
    height: 100vh;
}
    
.titulos-home {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2rem, 8vw, 6rem); 
    font-weight: bold;
    margin: 0;
    padding: 0rem;
    color: #c1b0a5;
    line-height: 1;
}

#letras-nombre{
    font-size: clamp(1rem, 8vw, 4rem); 
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.titulos-home > h1 {
    animation: texto-expansion 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.foto-fondo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.foto-fondo > img {
    height: 80vh;
    width: auto;
    max-height: 85vh;
    object-fit: contain;
    display: block;
    animation: bounce-in-bottom 1.1s both;
}

@keyframes texto-expansion {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-bottom {
    0% {
                transform: translateY(500px);
                animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
                transform: translateY(0);
                animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
                transform: translateY(65px);
                animation-timing-function: ease-in;
    }
    72% {
                transform: translateY(0);
                animation-timing-function: ease-out;
    }
    81% {
                transform: translateY(28px);
                animation-timing-function: ease-in;
    }
    90% {
                transform: translateY(0);
                animation-timing-function: ease-out;
    }
    95% {
                transform: translateY(8px);
                animation-timing-function: ease-in;
    }
    100% {
                transform: translateY(0);
                animation-timing-function: ease-out;
    }
}
  

/* biografia.html*/


#titulo-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    text-align: center;
}

.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:20px;
}

ul, li {
    list-style: none;
    display: flex;
    margin: 0px 10px;
    flex-wrap: wrap;
} 

.chip {
    border: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    border-radius: 50em;
    padding: 0.25rem 0.5rem;
    width: auto;
    font-size: 0.9375rem;
    background-color: rgba(245, 222, 179, 0.699)
}

.chip__label {
    color: #23022E;
}

.chip__img {
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.25rem;
}

.fotos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding: 2rem;
    height: 50vh;
    width: 70vw;
    margin: 0 auto;
    grid-template-areas:
    'div-1 div-2 div-3'
    'div-4 div-5 div-6';
}

.fotos-container > div {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.div-1 {
    grid-area: div-1;
}

.div-2 {
    grid-area: div-2;

}

.div-3 {
    grid-area: div-3;
}

.div-4 {
    grid-area: div-4;
}

.div-5 {
    grid-area: div-5;
}
.div-6 {
    grid-area: div-6;
}

.fotos-container img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
}

@media (width < 768px) { /*Tablets*/
    .fotos-container {
        grid-template-areas:
        'div-1 div-2'
        'div-3 div-4'
        'div-5 div-6';
    }
}

@media (width < 576px) { /*Móviles*/
    .fotos-container {
        grid-template-areas:
        'div-1'
        'div-2'
        'div-3'
        'div-4'
        'div-5'
        'div-6';
    }
}

/* portfolio.html */


#encabezado-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding: 20px;
}

.grid-container div {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 5px;
    background-color: #23022E;
}

.div1 {
    grid-row: span 2 / span 2;
    width: 100%;
}


.iframeweb-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1rem;
    overflow: hidden;
}

.web-preview {
    padding: 15px;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
    border-radius: 2rem;
}

.video-youtube {
    justify-content: center;
    align-content: center;
}

.video-youtube {
    border: none;
    border-radius: 1rem;
}

.div3 {
    grid-column-start: 2;
    grid-row-start: 2;
    height: 15rem;
}

.imagenes-fitcam {
    display: flex;
    width: 400px;
    height: 230px;
}

.imagenes-fitcam img {
    border-radius: 0.6rem;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

.imagenes-fitcam img:hover {
    cursor: crosshair;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}


/* contacto.html*/

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
}

.cajaFormulario {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

form {
    box-sizing: border-box;
    text-align: left;
    max-width: 50%;
    background: url(elementos/fondo-biografia.svg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    padding: 20px 0px;
    border-radius: 30px;
    padding: 15px;
    border: #F7F7FF solid 2px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: navy;
}

.formulario textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: hsl(240, 1%, 45%);
}

  /* switch del formulario gira y cambia de color cuando se activa */
.switch {
    --circle-dim: 13px;
    font-size: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 40px;
    height: 20px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}

.slider-card-front {
    background-color: #DC3535;
}

.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}
  
input:checked ~ .slider-card {
    transform: translateX(1.5em);
}
  
input:checked ~ .slider {
    background-color: #9ed99c;
}
  
.switch-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
}

#btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border-radius: 8px;
    color: #23022E;
    padding: 5px 10px;
}

