* {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(240, 100%, 98%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(elementos/fondo2.svg);
    background-size: cover;
    margin: 0;
    text-align: center;
}

.menu {
  align-items: center;
  justify-content: space-evenly;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  width: 100vw;
  display: flex;
}

.menu a {
    min-width: auto;
    padding: 0.3rem 3rem;
    border-radius: 0.7rem;
    text-align: center;
    text-decoration: none;
    color:white;
    background-color:hsl(11, 50%, 42%);
    font-weight: lighter;
    font-size: 1.2rem;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    transition: all 0.5s ease
}

.menu a:hover {
    letter-spacing: 2px;
    background-color: rgba(37, 19, 13, 1);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(37 19 13) 0px 7px 29px 0px;
}

.menu a[aria-current="page"] { /*indica el elemento actual, sirve para marcar la página actual en la que está del menú */
    background-color: rgba(37, 19, 13, 1);
    color: hsl(240, 100%, 98%);
    letter-spacing: 2px;
    box-shadow: rgba(37, 19, 13, 1) 0px 7px 29px 0px;
}


/* index.html*/


#body-home {
    background: linear-gradient(
    to right,
        #543A28 0%,    
        #543A28 30%,
        #837C6B 30%,   
        #837C6B 70%,
        #543A28 70%,   
        #543A28 100%
    );
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedor-principal {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
    
.contenedor-fondos {
    position: relative;
    width: 100vw;
    height: 100vh;
}
    
.titulos-home {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(2rem, 8vw, 6rem); 
    font-weight: bold;
    margin: 0;
    padding: 0rem;
    color: #c1b0a5;
    line-height: 1;
}

#letras-nombre{
    font-size: clamp(1rem, 8vw, 4rem); 
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.titulos-home > h1 {
    animation: texto-expansion 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.foto-fondo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.foto-fondo > img {
    height: 80vh;
    width: auto;
    max-height: 85vh;
    object-fit: contain;
    display: block;
    animation: slide-desde-abajo 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 0.05s;
}

@keyframes texto-expansion {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-desde-abajo {
    0% {
        transform: translateZ(-1400px) translateY(800px);
        opacity: 0;
      }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
}

  


/* biografia.html*/


.titulo-bio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    text-align: center;
    margin-bottom: 1.5rem;
}

.contenedor-principal-bio {
    display: flex;
    justify-content: center;   
    align-items: center;      
    min-height: 80vh; 
}

.bio-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    width: 80vw;
}

@media (width < 500px) {
    .bio-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 8px;
        width: 80vw;
    }
}

@media (width < 600px) {
    .bio-container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 8px;
        width: 80vw;
    }
}

.bio-container > div {
    background-color: #424b59;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: #25130d 0 0 8px;
}

.contenedor-1, 
.contenedor-2,
.contenedor-3,
.contenedor-4 {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contenedor-4 {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
     
.icono-y-titulo {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.icono-y-titulo > div {
    margin-right: 1rem;
    background-color: #556b85 ;
    border-radius: 3rem;
}
.icono-y-titulo h3 {
    font-weight:bolder;
    font-size: 1.3em;
}

.icono-y-titulo p {

    font-size: 1em;
}

.contenedor-iconos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-iconos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 100px;
    margin: 0.5rem;
}

.contenedor-iconos span {
    font-size: 0.7em;
}

/* portfolio.html */

#encabezado-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
    margin-bottom: 20px;
}
.multimedia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh ;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    gap: 8px;
}

.tarjeta {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    background: #424b59;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.tarjeta-detalles {
    color: white;
    height: 100%;
    gap: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.tarjeta-boton {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: hsl(11, 50%, 42%);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
   
.text-body {
    color: white;
}

.text-titulo {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
   
.tarjeta:hover {
    border-color: #556b85;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.tarjeta:hover .tarjeta-boton {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.imagen-tarjeta  img{
    border-radius: 0.7rem;
    width: 80%;
    height: auto;
}
 

 

/* contacto.html*/

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
}

.contenido-principal-contacto{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    height: 100%;
}

.formulario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;
}

.iconos-redes {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between
}

.cajaFormulario {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

@media (width < 400px) {
    .formulario-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .redes-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media (width < 800px) {
    .formulario-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .redes-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

form {
    box-sizing: border-box;
    text-align: left;
    max-width: 80%;
    background: url(elementos/fondo-biografia.svg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    padding: 20px 0px;
    border-radius: 30px;
    padding: 15px;
    border: #F7F7FF solid 2px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.formulario textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: hsl(240, 1%, 45%);
}

#btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    border-radius: 8px;
    color: #23022E;
    padding: 5px 10px;
}

/* Switch de encendido */ 

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
  }
  
  /* esconde la caja por defecto de  HTML */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    right: 0.3em;
    bottom: 0.3em;
    transform: translateX(150%);
    background-color: #59d102;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .slider:after {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: red;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #59d102;
  }
  
  .switch input:checked + .slider:before {
    transform: translateY(0);
  }
  
  .switch input:checked + .slider::after {
    transform: translateX(-150%);
  }
  