* {
    font-family: system-ui, sans-serif;
    color: hsl(240, 100%, 98%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background-image: url(elementos/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    height: 100vh;
    margin: 20px 0px;
    text-align: center;
}


.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

h1 {
    padding: 30px;
}

.menu {
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

.menu a {
    display: inline-block;
    flex-wrap: wrap;
    min-width: auto;
    padding: 3px 20px;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color:hsl(240, 100%, 98%);
    background-color:hsl(11, 50%, 42%);
    font-weight: lighter;
    font-size: smaller;
    box-shadow: inset black ;
}

.menu a[aria-current="page"] {
    background-color: #23022E;
    color: hsl(240, 100%, 98%);
}

/* index.html*/

#botones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

#palo {
  width: 80%;
  height: fit-content;
}

.tituloSecciones {
    margin: 10px;
}

.botones a {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 130px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: #4E6766;
    color: #F7F7FF;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    text-decoration: none;
}

.botones a:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #F7F7FF,
     0 15px 0 -4px #23022E,
     0 16px 10px -3px #23022E;
}

.botones a:active {
 transition: all 0.2s;
 transform: translateY(-5px);
 box-shadow: 0 2px 0 -2px #f85959,
  0 8px 0 -4px #39a2db,
  0 12px 10px -3px #39a2db;
}


.foto {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.foto img {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border-radius: 1rem;
}

footer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* biografia.html*/

#titulo-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    text-align: center;
}

.fotosBio{
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
}

.fotosBio img {
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    border-radius: 30px;
}

/* portfolio.html */

#encabezado-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
}

.video-youtube {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
}
  
.video-youtube iframe {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
/*     clip-path: circle(55%);
    max-width: 80%;
    min-height: min-content; */
  }

.imagenes {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}


.imagenes img {
    clip-path: circle(35%);
    max-width: 30%;
}

.audio {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* contacto.html*/

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 0.5rem;
}

.cajaFormulario {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

form {
    box-sizing: border-box;
    text-align: left;
    max-width: 50%;
    background: url(elementos/fondo-biografia.svg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    padding: 20px 0px;
    border-radius: 30px;
    padding: 15px;
    border: #F7F7FF solid 2px;
}

.formulario input[type="text"],
.formulario input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  color: navy;
}

.formulario textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: hsl(240, 1%, 45%);
}

  /* switch del formulario gira y cambia de color cuando se activa */
.switch {
    --circle-dim: 13px;
    font-size: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 40px;
    height: 20px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
}

.slider-card {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
}

.slider-card-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
}

.slider-card-front {
    background-color: #DC3535;
}

.slider-card-back {
    background-color: #379237;
    transform: rotateY(180deg);
}

input:checked ~ .slider-card .slider-card-back {
    transform: rotateY(0);
}

input:checked ~ .slider-card .slider-card-front {
    transform: rotateY(-180deg);
}
  
input:checked ~ .slider-card {
    transform: translateX(1.5em);
}
  
input:checked ~ .slider {
    background-color: #9ed99c;
}
  
.switch-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 10px;
}
